/node_modules
/public/storage
/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
.env
.env.permissions
/public/css
/public/fonts
/public/js
/public/build
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
